.muzaara-recommendations .recommendation.sitelink_ext section {
	padding: 0;
}
.muzaara-recommendations .recommendation .sitelinks {
	list-style: none;
} 

.muzaara-recommendations .recommendation .sitelinks .sitelink {
	padding: 10px 20px;
	width: 50%;
	transition: background 0.5s;
	max-width: 100%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	margin: 0;
}

.muzaara-recommendations .recommendation .sitelinks .sitelink.campaign {
	width: 100%;
	border-radius: 0;
	padding: 5px;
}

.muzaara-recommendations .recommendation .sitelinks .sitelink:not(.campaign):hover {
	background: rgba(59,120,231, 0.10);
	transition: background 0.5s;
}

.muzaara-recommendations .recommendation .edit-sitelink {
	padding: 5px 10px;
	cursor: pointer;
	transition: background 0.5s ease;
	position: relative;
	box-shadow: 0 5px 5px -5px rgba(0,0,0,0.20);
}

.muzaara-recommendations .recommendation .edit-sitelink.selected {
	background: rgba(59,120,231, 0.05);
	transition: background 0.5s ease;
}

.muzaara-recommendations .recommendation .edit-sitelink.selected::after {
	content : "\e907";
	font-family: 'icomoon';
	position: absolute;
	top: 50%;
	right: 20px;
	color: #3B78E7;
}

.muzaara-recommendations .recommendation .edit-sitelink label {
	display: block;
	color: #888;
	font-weight: 300;
}

.muzaara-recommendations .recommendation .edit-sitelink input {
	border: none;
	border-bottom: 1px solid #ccc;
	background: transparent;
	box-shadow: none;
	
	transition: border-bottom-color 0.5s ease;
}

.muzaara-recommendations .recommendation .edit-sitelink input:focus {
	border-bottom-color : #3B78E7;
	border-bottom-width: 2px;
}